@tailwind base;
@tailwind components;
@tailwind utilities;

.cart_box img {
  width: 100px;
  height: 100px;
}


.cart_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid rgb(218, 221, 223);
  padding-bottom: 5px;
  width:100%
}

  .swiper-tab.active-tab{
    color: red;
    border-bottom: 2px solid red;
    display: flex;
    justify-content: center;
  }

